{% extends 'base.html' %}

{% block content %}

   <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.pokemon_name(class='form-control', placeholder='Enter a Pokemon Name', autocomplete='off') }}
    {{ form.submit(class='btn btn-primary') }}
   </form>
   {% if pokemon_dict %}
    <div class="card" style="width: 18rem;">
        <img src="{{ pokemon_dict.img_url }}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{ pokemon_dict.name }}</h5>
        <p class="card-text">
            {{ pokemon_dict.ability }}
            <ul>
                <li>{{ pokemon_dict.hp }}</li>
                <li>{{ pokemon_dict.attack }}</li>
                <li>{{ pokemon_dict.defense }}</li>
            </ul>
        </p>
        {% if is_caught %}
        <a href="/release/{{ pokemon_dict.name }}" class="btn btn-danger">Release</a>
        {% else %}
        <a href="/catch/{{ pokemon_dict.name }}" class="btn btn-primary">Catch</a>
        {% endif %}
        </div>
    </div>
   {% endif %}
{% endblock %}